* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main{
    background-color: rgb(11, 11, 33);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
  border-radius: 11px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  width: 800px;
  height: 500px;
}

.card-header{
  text-align: center;
  padding-top: 30px;
  font-family: 'Times New Roman';
}
.community {
  background-color: rgb(255, 253, 253);
  text-align: center;
  padding: 30px;
}

.card{
    background-color: rgb(15, 67, 66);
    text-align: center;
    padding-top: 10px;
}

.why-us{
    background-color: rgba(85, 145, 142, 0.698);
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.why-us-header{
  text-align: center;
}

.why-us-items{
  list-style: none;
  text-align: center;
  padding: 20px;
}

.card-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

span{
  font-size: 30px;
}

.btn{
  background-color:rgb(102,153,0);
  border: none;
  padding: 15px 70px;
  border-radius: 10px;
  color: white;
  margin:10px;
  
}